.header{
    width: 100%;
    height: 60px;
    padding: 0 0 0 40px;
    background-color: #00000000;
    color: white;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.header-black{
    background-color: #020202;
}
.header .logo img{
    width: 92px;
    height: auto;
}
.header .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header .right{
    display: flex;
    justify-content: space-between;
    gap: 14px;
    font-size: 20px;
    margin-right: 140px;
}
