.banner{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 620px;
    color: white; 
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
    padding: 220px 0 0 40px;
}
.banner-buttons{
    display: flex;
    gap: 14px;
}
.banner-buttons button{
    border: none;
    background-color: rgba(255, 255, 255, 0.292);
    color: white;
    backdrop-filter: blur(3px);
    padding: 6px 10px;
    border-radius: 4px;
}
.banner .description{
    width: 460px;
    color: rgba(255, 255, 255, 0.897);
}
.bottom-fade{
    width: 100%;
    height: 270px;
    position: absolute;
    top: 352px;
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 0),#020202);
}
.top_fade{
    width: 100%;
    height: 100px;
    position: absolute;
    background-image: linear-gradient(180deg,#02020282,rgba(255, 255, 255, 0));
}